.n_mypage_top{
  position: relative;
  border-top: 1px solid #eee;
  border-bottom: 3px solid rgba(54, 52, 52, 0.2);
  background: #fff;
}

.breadcrumbs {
  font-size: 14px;
  width: 80%;
  margin: 0 auto;
  line-height: 50px;
  a:hover {
    text-decoration: underline;
    opacity: 0.7;
  }
  .current {
    font-weight: bold;
  }
}
