.flash {
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-size: 20px;
  &-success {
  background: #0099e8;
  }
  &-delete{
    background: #c0eec4;
    color: #76af7b
  }
  &-alert {
    background: #ea352d;
  }
}