.header-top {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  h1 {
    margin-right: 50px;
  }
  //あいまい検索用
  .fuzzy_search{
    width: 100%;
    position: relative;
    &__label{
      &--icon{
        position:absolute;
        top: 10px;
        right: 10px;
      }
      &--btn{
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0;
        cursor: pointer;
      }
    }
    &__field{
      width: 100%;
      height: 40px;
      padding: 5px 5px 5px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background: #F5F5F5;
      transition-duration: 0.3s;
      &:focus {
        border: 1px solid #0099e8;
        outline: 0;
      }
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }
  }
}
.header-bottom {
  width: 80%;
  margin: 0 auto;
  padding: 0 10px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  i {
    font-size: 1.3em;
  }
  &__left {
    &__list {
      display: flex;
      line-height: 36px;
      &__category{
        position: relative;
      }
    }
    h2 {
      font-weight: bold;
      margin-right: 20px;
      span:hover {
        color: #0099e8;
      }
    }
  }
  &__right {
    ul {
      position:relative;
      display: flex;
      line-height: 36px;
      li {
        margin-left: 20px;
        img {
          border-radius: 50%;
        }
        .o_link-mypage {
          display: flex;
          span {
            margin-left: 5px;
          }
        }
      }
      a:hover {
        i {
          color: #0099e8;
        }
        span {
          color: #0099e8;
        }
      }
    }
  }
}

//カテゴリ検索のバー
.category_list{
  position: absolute;
  z-index: 1;
  font-size: 14px;
  height: 680px;
  display:  none;
  background-color: #fff;
  color: #333;
}

.parent_top{
  background-color: #fff;
  display: flex;
  padding: 0 16px;
  height: 44px;
  line-height: 44px;
  cursor: pointer;
  .parent_list{
    display: flex;
    width: 180px;
    &:hover{
      background-color:red;
      color: white;
    }
  }
}

.child_top{
  background-color: #fff;
  display: none;
  padding: 8px 0 8px 0;
  height: 680px;
  width: auto;
  position: absolute;
  top: 0;
  left: 200px;
  cursor: pointer;
  .child_list{
    height: 32px;
    line-height: 32px;
    width: 200px;
    &:hover{
      background-color:#eee;
    }
  }
}

.gchild_top{
  background-color: #fff;
  display: none;
  padding: 8px 0 8px 0;
  height: 680px;
  width: auto;
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 200px;
  cursor: pointer;
  .gchild_list{
    height: 32px;
    line-height: 32px;
    width: 220px;
    &:hover{
      background-color:#eee;
    }
  }
}
.o_icon {
  &-search {
    color: #333;
  }
  &-gray {
    color: #CCC;
  }
  &-red {
    color: #EA352D;
  }
}

.o_btn {
  line-height: 32px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.o_registration {
  border: 1px solid #ea352d;
  background: #ea352d;
  color: #fff;
  opacity: 0.9;
  transition-duration: 0.3s;
  &:hover {
    opacity: 1;
  }
}

.o_login {
  border: 1px solid #0099e8;
  color: #0099e8;
  transition-duration: 0.3s;
  &:hover {
    background: #0099e8;
    color: #fff;
  }
}