%nav.n_mypage_top
  %ul.n_mypage_top__head
    %li.n_head_list
      メルカリ
      = fa_icon 'chevron-right', class: 'n_icon'
      %a.n_list__item{href: "遷移先ページURL"}
    %li.n_head_l_list
      マイページ
      %a.n_list__item{href: "遷移先ページURL"}
      