.k_su_single-container
  %header.k_su_header
    %h1.k_su_header__title
      %a{href: "#"}
        %img{src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?891577966", alt: "mercari", width: "185", height: "49"}

  %main.k_su_wrapper7
    %section.k_su_section7
      .k_su_section7__header
        %p.k_su_section7__header--content
          アカウントをお持ちでない方はこちら
        .k_su_section7__header--btn
          新規会員登録
        
      .k_su_section7__inner
        .k_su_section7__inner--form 
          %a{href: "#", class: "k_su_section7__inner--form-facebook-regi"}
            %i.icon-facebook 
            Facebookで登録する
          %a{href: "#", class: "k_su_section7__inner--form-google-regi"}
            %i.icon-facebook 
            Googleで登録する
            
          
        .k_su_section7__inner--form2
          %input{class: "k_su_section7__inner--form2-input", placeholder: "メールアドレス"}
          %input{class: "k_su_section7__inner--form2-input", placeholder: "パスワード"}
          %img{src: 'https://placehold.jp/300x74.png', class: 'k_su_section7__inner--form2-tag'}
          %input{type: 'submit', value: 'ログイン', class: 'k_su_section7__inner--form2-btn'}
          %a{href: '#', class: 'k_su_section7__inner--form2-link'} 
            パスワードお忘れの方
       

  %footer.k_su_footer
    .k_su_footer__inner
      %ul.k_su_footer__inner--nav
        %li.k_su_footer__inner--nav-li 
          %a{href: "#", class: "k_su_footer__inner--nav-li-a"} プライバシーポリシー
        %li.k_su_footer__inner--nav-li
          %a{href: "#", class: "k_su_footer__inner--nav-li-a"} メルカリ利用規約
        %li.k_su_footer__inner--nav-li
          %a{href: "#", class: "k_su_footer__inner--nav-li-a"} 特定商取引に関する表記
      %a{href: "#", class: "k_su_footer__inner--logo"}
        %img{src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?891577966", alt: "freemarket", width: "80", height: "65"}
      %p.k_su_footer__inner--small ©️ 2019 Mercari
  
  