
.o_topitem
  = link_to item_path(item.id) do
    =image_tag item.images.first.image.to_s , height: "213px" , width: "213px"
    .o_topitem__body
      .o_topitem__body--title
        = item.name
      .o_topitem__body--bottom
        .o_topitem__body--bottom--price
          ¥
          = item.price.to_s(:delimited)
        .o_topitem__body--bottom--like
          = fa_icon 'heart', class: "o_icon-heart"
          45