.s_content{ 
  width: 700px;
  &__mypage {
    &__head {
      font-size: 24px;
      padding: 8px 24px;
      font-weight: 700;
      text-align: center;
      border-bottom: 1px solid #f5f5f5;
    }
    &__single-inner {
      border-top: 1px solid #f5f5f5;
      padding: 64px;
      &__textright {
        text-align: right;
      }
      & p {
        margin: 8px 0 0;
        line-height: 1.5;
      }
      & a {
        text-align: right;
        color: #0099e8;
        text-decoration: none;
      }
      &__form-group {
        margin: 40px 0 0;
        & label {
          font-weight: 600;
          display: inline-block;
        }
        &__any {
          background: #ccc;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
          font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
        }
        &__input {
          height: 48px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 100%;
          padding: 0 0 0 10px;
        }
        &__select-Prefecture__icon {
          position: absolute;
          right: 16px;
          top: 50%;
          z-index: 2;
          color: #888;
        }  
        &__select-Prefecture__select {
          width: 100%;
          height: 48px;
        }  
      }
      &__btn-red{
        margin: 40px 0 0 0;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
      }
      &__text-right{
        margin: 40px 0 0;
        text-align: right;
      }
    }
  }  
  .fa-chevron-right {
    color: #0099e8;
  }
}