.flash {
  text-align: center;
  color: #fff;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}

.flash-success {
  background: #0099e8;
}

.flash-delete{
  background: #c0eec4;
  color: #76af7b
}