.o_detail-container {
  background: #F5F5F5;
  padding: 30px 0 50px;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  a {
    text-decoration: none;
  }
}

.o_detail-field {
  width: 50%;
  margin: 0 auto;
}

.o_item {
  padding: 30px;
  background: #fff;
  h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  &__main {
    margin-top: 20px;
    display: flex;
    &--image {
      width: 50%;
      margin-right: 10px;
    }
  }
}

.o_item__seller {
  margin-top: 20px;
  padding: 30px;
  background: #fff;
  p {
    text-align: center;
    margin-top: 10px;
  }
}

.o_item__editbtn {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #ea352d;
  text-align: center;
  color: #fff;
  transition-duration: 0.5s;
  &:hover {
    opacity: 0.7;
  }
  &--gray {
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #aaa;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
}

.o_image-sub {
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: wrap;
  opacity: 0.7;
  cursor: pointer;
  &--image:hover {
    opacity: 1;
  }
}

.o_item__main--table {
  width: 50%;
  height: 420px;
  border: 1px solid #f5f5f5;
  a {
    color: #0099e8;
    &:hover {
      text-decoration: underline;
      opacity: 0.7;
    }
  }
  tr {
    border: 1px solid #f5f5f5;
  }
  th {
    background: #fafafa;
    width: 117px;
    padding-left: 10px;
    border: 1px solid #f5f5f5;
  }
  td {
    padding: 10px;
    .td-category a,i {
      color: #0099e8;
    }
  }
}

.o_user-evaluations {
  display: flex;
  .evaluation {
    margin-right: 20px;
    i {
      font-size: 1.2em;
    }
    .o_smile {
      color: #EF5185
    }
    .o_meh {
      color: #FBA934;
    }
    .o_frown {
      color: #6AB5D8;
    }
  }
}

.o_item__price {
  margin-top: 20px;
  text-align: center;
  .price-main {
    font-size: 50px;
    font-weight: bold;
  }
  .price-tax {
    font-size: 10px;
  }
  .price-fee {
    font-size: 16px;
  }
}

.o_item__baloon {
  text-align: center;
  &-text {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 10px;
    min-width: 120px;
    max-width: 100%;
    color: #fff;
    background: #05B0B4;
    border-radius: 5px;
    &:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border: 8px solid transparent;
      border-top: 10px solid #05B0B4;
    }
    p {
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
  }
}

.o_item__buybtn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #ea352d;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  opacity: 0.95;
  transition-duration: 0.5s;
  &:hover {
    opacity: 1;
  }
}

.o_item__description {
  margin-top: 50px;
  p {
    font-size: 18px;
  }
}

.o_item__sub {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  &--left {
    display: flex;
    a {
      color: #333;    
    }
    .k_item__sub--left-btns {
      width: 170px;
      .o_item__sub--left-btn {
        background: #F5F5F5;
        border-radius: 20px;
        font-size: 14px;
        padding: 10px 20px;
        margin-right: 10px;
        i {
          color: #ccc;
        }
        &--red {
          background: white;
          border: 1px solid #ea352d;
        }
      }
      .k_like__icon--red {
        color: #ea352d;
        font: #ea352d;
      }
      .k_like__sentence--red {
        color: #ea352d;
      } 
      .k_like__quantity--red {
        color: #ea352d;
      }
    }  
  }
  &--right {
    a {
      color: #0099e8;
      font-size: 14px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.o_item__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  a,i {
    color: #0099e8;
    &:hover {
      opacity: 0.7;
      text-decoration: underline;
    }
  }
}

.o_social_box {
  background: #fff;
  margin-top: 20px;
  height: 140px;
  ul {
    display: flex;
    justify-content: center;
    padding: 40px;
    li {
      border-radius: 5px;
      margin: 5px;
      padding: 5px 10px;
      &:hover {
        opacity: 0.7;
      }
      a,i {
        color: #fff;
      }
    }
  }
}

.o_icon {
  font-size: 2.5em;
  border-radius: 5px;
  padding: 5px 20px 5px 10px;
  margin: 5px;
  color: #fff;
}

.o_facebook {
  background: #385185;
}

.o_twitter {
  background: #5C9DC9;
}

.o_pinterest {
  background: #AA272B;
}


.o_user {
  margin-top: 20px;
  h2 {
    font-size: 22px;
    font-weight: bold;
    a {
      color: #0099e8;
      &:hover {
        opacity: 0.7;
        text-decoration: underline;
      }
    }
  }
}

.o_user-items {
  display: flex;
  justify-content: space-between;
}

.o_user-item {
  background: #FFF;
  padding: 0;
  margin: 10px 0 10px;
  &:last-child {
    margin-right: 0;
  }
  a {
    color: #333;    
  }
  &__body {
    height: 80px;
    padding: 12px;
    font-size: 16px;
    font-weight: normal;
    &--title {
      height: 70%;
      text-align: left;
    }
    &--bottom {
      height: 30%;
      display: flex;
      justify-content: space-between;
      &--price {
        font-weight: bold;
      }
      &--like {
        i {
          color: #ccc;
        }
      }
    }
  }
}
