.k_su_single-container {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;   

  .k_su_wrapper5 {
    height: 700px;
    width: 100%;
    .k_su_section5 {
      height: 100%;
      width: 700px;
      background-color: white;
      margin: 0 auto;
      &__header {
        height: 97px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        line-height: 97px;
        border-bottom: 1px solid #f5f5f5;
      }
      &__inner {
        height: 603px;
        width: 343px;
        margin: 0 auto;
        padding: 40px 40px 64px;
        &--form {
          width: 343px;
          height: 70px;
          &-label {
            display: inline;
            font-weight: bold;
          }
          &-span {
            background-color: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            display: inline;
          }
          &-input {
            width: 100%;
            display: block;
            height: 48px;
            margin: 8px 0 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            box-sizing: border-box;
          }
        }
        &--form2 {
          margin: 20px 0 0 0;
          width: 300px;
          height: 37px;
          &-label {
            display: inline;
            font-weight: bold;
          }
        }
        &--form3 {
          margin: 30px 0 0 0;
          width: 343px;
          height: 80px;
          &-label {
            display: inline;
            font-weight: bold;
          }
          &-span {
            background-color: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            display: inline;
          }
          &-input {
            display: flex;
            &-child {
              width: 130px;
              height: 48px;
              margin: 8px 0 0 16px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              font-size: 16px;
              box-sizing: border-box;
            }
            &-sentence {
              height: 64px;
              line-height: 64px;
              display: inline;
              margin: 0 0 0 5px;           
            }
          }
        }
        &--form4 {
          width: 343px;
          height: 70px;
          margin: 30px 0 0 0;
          &-label {
            display: inline;
            font-weight: bold;
          }
          &-span {
            background-color: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            display: inline;
          }
          &-input {
            width: 100%;
            display: block;
            height: 48px;
            margin: 8px 0 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            box-sizing: border-box;
          }
          &-sentence {
            display: inline;
            float: right;
            margin: 8px 0 0 0;
            &-content {
              text-decoration: none;
              color: #0099e8;
            }    
          }
        }
        &--form5 {
          margin: 70px auto 0;
          width: 343px;
          &-input {
            &-btn {
              background-color: #ea352d;
              border: solid 1px #ea352d;
              color: white;
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
