.k_su_header {
  height: 128px;
  width: 100%;
  &__title {
    text-align: center;
    line-height: 128px;
    padding: 20px 0 0 0;
  }
}

.k_su_wrapper {
  height: 384px;
  width: 100%;
  .k_su_section {
    height: 100%;
    width: 700px;
    background-color: white;
    margin: 0 auto;
    &__header {
      height: 97px;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      line-height: 97px;
      border-bottom: 1px solid #f5f5f5;
    }
    &__inner {
      height: 287px;
      width: 343px;
      margin: 0 auto;
      padding: 40px 0px 64px;
      &--mail-regi {
        position: relative;
        height: 50px;
        width: 100%;
        line-height: 50px;
        text-align: center;
        background-color: #ea352d;
        border-radius: 4px;
        display: block;
        text-decoration: none;
        color: #fff;
        .k_su_icon {
          position: absolute;
          top: 13px;
          left: 20px;
          font-size: 23px;
          color: white;
        }
      }
      &--facebook-regi {
        position: relative;
        height: 50px;
        width: 100%;
        line-height: 50px;
        text-align: center;
        background-color: #385185;
        border-radius: 4px;
        margin: 16px 0 0;
        display: block;
        text-decoration: none;
        color: #fff;
        .k_su_icon {
          position: absolute;
          top: 13px;
          left: 20px;
          font-size: 26px;
          color: white;
        }
      }
      &--google-regi {
        position: relative;
        height: 50px;
        width: 100%;
        line-height: 50px;
        text-align: center;
        background-color: #fff;
        border-radius: 4px;
        margin: 16px 0 0;
        display: block;
        text-decoration: none;
        border: #979797 solid 1px;
        color: #333;
        .k_su_icon {
          position: absolute;
          top: 13px;
          left: 20px;
          font-size: 26px;
        }
      }
    }
  }
}