.k_su_single-container {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;   

  .k_su_wrapper2 {
    height: 550px;
    width: 100%;
    .k_su_section2 {
      height: 100%;
      width: 700px;
      background-color: white;
      margin: 0 auto;
      &__header {
        height: 97px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        line-height: 97px;
        border-bottom: 1px solid #f5f5f5;
      }
      &__inner {
        height: 453px;
        width: 343px;
        margin: 0 auto;
        padding: 40px 40px 64px;
        &--form {
          margin: 0 auto 0;
          width: 343px;
          height: 287px;
          &-label {
            display: inline;
            font-weight: bold;
          }
          &-span {
            
          }
          &-input {
            width: 343px;
            display: block;
            height: 48px;
            margin: 8px 0 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            box-sizing: border-box;
          }
          &-submit {
            margin: 32px 0 0 0;
            &-btn {
              background-color: #ea352d;
              border: solid 1px #ea352d;
              color: white;
              display: block;
              width: 343px;
              line-height: 48px;
              font-size: 14px;   
            }
          }
          &-sentence {
            margin: 8px 0 0 0;
            &-link {
              margin: 24px 0 0 0;
              text-decoration: none;
              color: #0099e8;
              float: right;
            } 
          }
        }
      }
    }
  }
}