.k_su_single-container {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;   
  .k_su_header {
    height: 128px;
    width: 100%;
    &__title {
      text-align: center;
      line-height: 128px;
    }
  }
  .k_su_wrapper7 {
    height: 750px;
    width: 100%;
    .k_su_section7 {
      height: 100%;
      width: 456px;
      background-color: white;
      margin: 0 auto;
      &__header {
        height: 144px;
        text-align: center;
        padding: 20px 64px;
        box-sizing: border-box;
        border-bottom: 1px solid #f5f5f5;
        &--content {
          font-size: 14px;       
        }
        &--btn {
          background-color: #0099e8;
          color: #fff;
          line-height: 40px;
        }
      }
      &__inner {
        height: 606px;
        width: 343px;
        margin: 0 auto;
        padding: 40px 40px 64px;
        &--form {
          width: 343px;
          height: 150px;
          &-facebook-regi {
            height: 50px;
            width: 343px;
            line-height: 50px;
            text-align: center;
            background-color: #385185;
            display: block;
            text-decoration: none;
            color: #fff;
          }
          &-google-regi {
            height: 50px;
            width: 343px;
            line-height: 50px;
            text-align: center;
            background-color: #fff;
            margin: 16px 0 0;
            display: block;
            text-decoration: none;
            border: #979797 solid 1px;
            color: #333;
          }
        }
        &--form2 {
          width: 343px;
          height: 150px;
          &-input {
            width: 100%;
            display: block;
            height: 48px;
            margin: 8px 0 20px 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            box-sizing: border-box;
          }
          &-tag {
            margin: 8px 0 20px 0;
          }
          &-btn {
            background-color: #ea352d;
            border: solid 1px #ea352d;
            color: white;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            margin: 8px 0 20px 0;
          }
          &-link {
            color: #0099e8;
            text-decoration: none;
            margin: 30px 0 20px 0;
          }        
        }
        &--form3 {
          margin: 50px 0 0 0;
          width: 343px;
          height: 75px;
          &-label {
            display: inline;
            font-weight: bold;
          }
          &-span {
            background-color: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            display: inline;
          }
          &-input {
            width: 100%;
            display: block;
            height: 48px;
            margin: 8px 0 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            box-sizing: border-box;
          } 
          
        }
        &--form4 {
          margin: 50px 0 0 0;
          width: 343px;
          height: 75px;
          &-label {
            display: inline;
            font-weight: bold;
          }
          &-span {
            background-color: lightgray;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            display: inline;
          }
          &-input {
            width: 100%;
            display: block;
            height: 48px;
            margin: 8px 0 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            box-sizing: border-box;
          } 
        }
        &--form5 {
          margin: 50px auto 0;
          width: 343px;
          height: 287px;
          &-input {
            &-btn {
              background-color: #ea352d;
              border: solid 1px #ea352d;
              color: white;
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              margin: 32px 0 0 0;
            }
          }
        }
      }
    }
  }
  
  .k_su_footer {
    height: 348px;
    width: 100%;
    &__inner {
      height: 100%;
      width: 456px;
      margin: 100px auto;
      text-align: center;
      &--nav {
        width: 100%;
        display: flex;
        list-style: none;
        &-li {
          margin: 0 5px;
          &-a {
            text-decoration: none;
            color: #333333;
            font-size: 12px;       
          }
        }
      }
      &--logo {
      
      }
    }
  }
}