* {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color: #333;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.o_white {
  background: #f5f5f5;
  padding-bottom: 20px;
  h2, h3 {
    width: 100%;
    text-align: center;
  }
}

.o_top-image {
  background: #EEEDEB;
  text-align: center;
  img {
    height: 350px;
    padding: 0 100px;
  }
}

.o_pickup-head {
  margin: 50px 0 0;
  font-size: 28px;
  font-weight: bold;
}

.o_topitems-boxes {
  width: 100%;
}

.o_topitems-box {
  width: 100%;
  padding: 0 200px;
  &__title {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
    a {
      color: #0099e8;
    }
    &:hover {
      text-decoration: underline;
      opacity: 0.7;
    }
  }
  &__view-all {
    width: 100%;
    text-align: right;
    font-size: 14px;
    font-weight: normal;
    margin: 10px 0 50px;
    a {
      color: #0099e8;
      &:hover {
        text-decoration: underline;
        opacity: 0.7;
      }
    }
  }
}

.o_topitems {
  display: flex;
  justify-content: space-between;
}

.o_topitem {
  background: #FFF;
  margin: 10px 20px;
  max-width: 213px;
  &:last-child {
    margin-right: 0;
  }
  &__body {
    height: 80px;
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    &--title {
      height: 70%;
      text-align: left;
    }
    &--bottom {
      height: 30%;
      display: flex;
      justify-content: space-between;
      &--price {
        font-weight: bold;
      }
    }
  }
}

.o_icon-heart {
  color: #ccc;
}

.o_item--image {
  position: relative;
}

.o_item-soldbadge::before{
  content: "";
  top: 0;
  left: 0;
  border-top: 50px solid #ea352d;
  border-left: 50px solid #ea352d;
  border-bottom: 50px solid transparent;
  border-right: 50px solid transparent;
  position: absolute;
  z-index: 1;
}
.o_item-soldbadge::after{
  content: "SOLD";
  display: block;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  color: #FFF;
  top: 30px;
  left: 15px;
  transform: rotate(-45deg);
  position: absolute;
  z-index: 2;
}