@import "reset";
@import "font-awesome";
@import "mypage_top";
@import "user_mypage";
@import "mypage_sidebar";
@import "credit_infomation";
@import "show";
@import "confirmation";
@import "logout";
@import "itemdetail";
@import "useredit";
@import "toppage";
@import "header";
@import "footer";
@import "item_regi";
@import "s_wrapper";
@import "signup";
@import "signup_page1";
@import "signup_page2";
@import "signup_page3";
@import "signup_page4";
@import "signup_page5";
@import "signup_page6";
@import "signin";
@import "signup_header";
@import "signup_footer";
@import "signup_container";
@import "item_regi";
@import "breadcrumbs";


.sell-btn {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 100;
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #ea352d;
  div {
    font-size: 22px;
    color: #fff;
    text-align: center;
    padding: 20px 0 5px;
  }
  i {
    color: #fff;
    font-size: 3.8em;
    display: inline-block;
    padding: 0 50px;
  }
}
