.k_su_single-container
  %header.k_su_header
    %h1.k_su_header__title
      %a{href: "#"}
        %img{src: "#", alt: "mercari"}

  %main.k_su_wrapper
    %section.k_su_section
      %h2.k_su_section__header
        新規会員登録

      .k_su_section__inner
        %a{href: "#", class: "k_su_section__inner--mail-regi"}
          %i.icon-mail 
          メールアドレスで登録する
        %a{href: "#", class: "k_su_section__inner--facebook-regi"}
          %i.icon-facebook 
          Facebookで登録する
        %a{href: "#", class: "k_su_section__inner--google-regi"}
          %i.icon-facebook 
          Googleで登録する
  %footer.k_su_footer
    .k_su_footer__inner
      %ul.k_su_footer__inner--nav
        %li.k_su_footer__inner--nav-li 
          %a{href: "#", class: "k_su_footer__inner--nav-li-a"} プライバシーポリシー
        %li.k_su_footer__inner--nav-li
          %a{href: "#", class: "k_su_footer__inner--nav-li-a"} メルカリ利用規約
        %li.k_su_footer__inner--nav-li
          %a{href: "#", class: "k_su_footer__inner--nav-li-a"} 特定商取引に関する表記
      %a{href: "#", class: "k_su_footer__inner--logo"}
        %img{src: "https://placehold.jp/80x65.png", alt: "freemarket", }
      %p.k_su_footer__inner--small ©️ 2019 Mercari