.k_su_single-container
  %header.k_su_header
    %h1.k_su_header__title
      %a{href: "#"}
        %img{src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?891577966", alt: "mercari", width: "185", height: "49"}

  %main.k_su_wrapper4
    %section.k_su_section4
      %h2.k_su_section4__header
        会員情報入力
      .k_su_section4__inner
        .k_su_section4__inner--form
          .k_su_section4__inner--form-label
            お名前
          .k_su_section4__inner--form-span
            必須
          %input{class: "k_su_section4__inner--form-input", placeholder: "例）山田"} 
          %input{class: "k_su_section4__inner--form-input", placeholder: "例）太郎"}  
          
        .k_su_section4__inner--form2
          .k_su_section4__inner--form2-label
            お名前カナ
          .k_su_section4__inner--form2-span
            必須
          %input{class: "k_su_section4__inner--form2-input", placeholder: "例）ヤマダ"}
          %input{class: "k_su_section4__inner--form2-input", placeholder: "例）タロウ"}
          
        .k_su_section4__inner--form3
          .k_su_section4__inner--form3-label
            郵便番号
          .k_su_section4__inner--form3-span
            必須
          %input{class: "k_su_section4__inner--form3-input", placeholder: "例）123-4567"}
          
        .k_su_section4__inner--form3
          .k_su_section4__inner--form3-label
            都道府県
          .k_su_section4__inner--form3-span
            必須
          %input{class: "k_su_section4__inner--form3-input", placeholder: "例）神奈川"}
          
        .k_su_section4__inner--form3
          .k_su_section4__inner--form3-label
            市区町村
          .k_su_section4__inner--form3-span
            必須
          %input{class: "k_su_section4__inner--form3-input", placeholder: "例）横浜市緑区"}
        
        .k_su_section4__inner--form3
          .k_su_section4__inner--form3-label
            番地
          .k_su_section4__inner--form3-span
            必須
          %input{class: "k_su_section4__inner--form3-input", placeholder: "例）青山1-1-1"}
          
        .k_su_section4__inner--form4
          .k_su_section4__inner--form4-label
            建物名
          .k_su_section4__inner--form4-span
            任意
          %input{class: "k_su_section4__inner--form4-input", placeholder: "例）柳ビル103"}
          
        .k_su_section4__inner--form4
          .k_su_section4__inner--form4-label
            電話
          .k_su_section4__inner--form4-span
            任意
          %input{class: "k_su_section4__inner--form4-input", placeholder: "例）09012345678"}
 
            
        .k_su_section4__inner--form5
          .k_su_section4__inner--form5-input
            %input{type: 'submit', value: '次へ進む', class: 'k_su_section4__inner--form5-input-btn'}
          
            
            
          
            
        





  %footer.k_su_footer
    .k_su_footer__inner
      %ul.k_su_footer__inner--nav
        %li.k_su_footer__inner--nav-li 
          %a{href: "#", class: "k_su_footer__inner--nav-li-a"} プライバシーポリシー
        %li.k_su_footer__inner--nav-li
          %a{href: "#", class: "k_su_footer__inner--nav-li-a"} メルカリ利用規約
        %li.k_su_footer__inner--nav-li
          %a{href: "#", class: "k_su_footer__inner--nav-li-a"} 特定商取引に関する表記
      %a{href: "#", class: "k_su_footer__inner--logo"}
        %img{src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?891577966", alt: "freemarket", width: "80", height: "65"}
      %p.k_su_footer__inner--small ©️ 2019 Mercari
  
  