.s_content{ 
  width: 700px;
  background: #fff;
}

.s_content__mypage {
  &__head {
    font-size: 24px;
    padding: 8px 24px;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
  }
}

.s_content__mypage__single-inner {
  border-top: 1px solid #f5f5f5;
  padding: 64px;
  &__textright {
    text-align: right;
    margin: 40px 0 0;
  }
  & p {
    margin: 8px 0 0;
    line-height: 1.5;
  }
  & a {
    text-align: right;
    color: #0099e8;
  }
  &__form-group {
    margin: 40px 0 0;
    & label {
      font-weight: 600;
      display: inline-block;
    }
    &__any {
      background: #ccc;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }
    &__input {
      height: 48px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
      width: 100%;
      padding: 0 0 0 10px;
    }
    &__select-Prefecture__icon {
      position: absolute;
      right: 16px;
      top: 50%;
      z-index: 2;
      color: #888;
    }  
    &__select-Prefecture__select {
      width: 100%;
      height: 48px;
    }  
  }
  &__btn-red{
    margin: 40px 0 0 0;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
  }
  .fa-chevron-right {
    color: #0099e8;
  }
}
